@model Blog
@{
    ViewData["Title"] = "GetBlogDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
    <div id="breadcrumb" class="hoc clear">
        <p>@Model.AppUser.Name Yazısı</p>
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="content three_quarter first">
            <h1>@Model.Name || Oluşturulma Tarihi : @Model.CreatedDate</h1>
            <p>@Model.Description</p>

            <h1>Table(s)</h1>
            <div class="scrollable">
                <!-- Buraya varsa resim bilgisi gelecek -->
            </div>

            <div id="comments">
                <h2>Comments</h2>
                <ul>
                    <!-- Yorumlar buraya -->
                    @foreach (var item in Model.Comments)
                    {
                        <li>
                            <article>
                                <header>
                                    <figure class="avatar"><img src="/Jeren/images/demo/avatar.png" alt=""></figure>
                                    <address>
                                        @if (item.Appuser!=null)
                                        {
                                           <p>By</p>  <a href="#">@item.Appuser.UserName</a> 
                                        }
                                        else
                                        {
                                           <p>Kimlik bulunamadı</p>    
                                        }
                                       
                                    </address>
                                    <time datetime="">@item.CreateDate </time>
                                </header>
                                <div class="comcont">
                                    <p>@item.CommentContent</p>
                                </div>
                            </article>
                        </li>
                    }
                </ul>

                @if (User.Identity.IsAuthenticated)
                {
                @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager
                    var user = await UserManager.GetUserAsync(User);

                    if (user.EmailConfirmed == true)
                    {
                        <h2>Bir Yorum Bırakın (Yorum yaparken etik kurallara uyunuz)</h2>
                        <form method="post" asp-controller="Blog" asp-action="AddComment">
                            <input type="text" name="BlogId" value="@Model.Id" />
                            <input type="text" name="AppUserId" value="@UserManager.GetUserId(User)" />
                            <div class="block clear">
                                <label for="comment">Yorumunuz</label>
                                <textarea name="CommentContent" id="comment" cols="25" rows="10"></textarea>
                            </div>
                            <button  class="btn btn-outline-primary">Yorumu Kaydet</button>
                            <div>
                                <input type="reset" name="reset" value="Yazıyı Sil">
                            </div>
                        </form>
                    }
                    else
                    {
                        <h2>Yorum Yapabilmek için mailinizi doğrulamanız gerekmektedir <a href="/MailConfirm/Index">Mailinizi Doğrulamak için tıklayınız</a></h2>
                    }
                }
                else
                {
                    <h2>Yorum Yapabilmek İçin Lütfen <a href="/Account/Login">Giriş</a> Yapınız</h2>
                }
            </div>
        </div>

        <div class="sidebar one_quarter">
            <h6>Lorem ipsum dolor</h6>
            <nav class="sdb_holder">
                <ul>
                    <li><a href="#">Navigation - Level 1</a></li>
                    <!-- Diğer menü öğeleri -->
                </ul>
            </nav>
            <!-- Diğer sidebar içeriği -->
        </div>
    </main>
</div>
