@model Hiring
@{
    ViewData["Title"] = "GetHiringDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
    <div id="breadcrumb" class="hoc clear">
       <h1>@Model.Name || Oluşturulma Tarihi : @Model.CreatedTime.ToString("dd/MM/yyyy")</h1>
    </div>
</div>

<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="content three_quarter first">




            <p> @Html.Raw(Model.Content)</p>


            
            <br />
            <hr/>
                
                    
                    

                @if (User.Identity.IsAuthenticated)
                {
                @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager
                    var user = await UserManager.GetUserAsync(User);

                    if (user.EmailConfirmed == true)
                    {
                        <h2>Bir Yorum Bırakın (Yorum yaparken etik kurallara uyunuz)</h2>
                        <form method="post" asp-controller="Blog" asp-action="AddComment">
                            <input type="hidden" name="BlogId" value="@Model.Id" />
                            <input type="hidden" name="AppUserId" value="@UserManager.GetUserId(User)" />
                            <div class="block clear">
                                <label for="comment">Yorumunuz</label>
                                <textarea name="CommentContent" id="comment" cols="25" rows="10"></textarea>
                            </div>
                            <button class="btn btn-outline-primary">Başvuruyu Kaydet</button>
                            <div>
                                <input type="reset" name="reset" value="Yazıyı Sil">
                            </div>
                        </form>
                    }
                    else
                    {
                    <h2>İş Başvurusu Yapabilmek için mailinizi doğrulamanız gerekmektedir <a href="/MailConfirm/Index">Mailinizi Doğrulamak için tıklayınız</a></h2>
                    }
                }
                else
                {
                    <h2>İş Başvurusu Yapabilmek İçin <a href="/Account/Login">Giriş</a> Yapınız</h2>
                }
            </div>
        </div>

        <div class="sidebar one_quarter">
            <h6>Lorem ipsum dolor</h6>
            <nav class="sdb_holder">
                <ul>
                    <li><a href="#">Navigation - Level 1</a></li>
                    <!-- Diğer menü öğeleri -->
                </ul>
            </nav>
            <!-- Diğer sidebar içeriği -->
        </div>
    </main>
</div>


